In [1]:
import pandas as pd
import numpy as np
import re

In [46]:
df_mango = pd.read_csv("data/mango.csv")

In [47]:
df_mango.columns

Index(['web-scraper-order', 'web-scraper-start-url', 'page_link',
       'page_link-href', 'product', 'product-href', 'name', 'price',
       'description', 'image_url-src'],
      dtype='object')

In [48]:
df_mango.head()

,web-scraper-order,web-scraper-start-url,page_link,page_link-href,product,product-href,name,price,description,image_url-src
0,1554008449-3815,https://shop.mango.com/us/women,Rompers,https://shop.mango.com/redirect.faces?op=conta...,d\n d\n ...,https://shop.mango.com/us/women/jumpsuits-long...,Ruched long jumpsuit,$99.99,Description Long design. Short batwing sleeve....,//st.mngbcn.com/rcs/pics/static/T4/fotos/outfi...
1,1554007645-2795,https://shop.mango.com/us/women,T-shirts and tops,https://shop.mango.com/redirect.faces?op=conta...,d\n d\n ...,https://shop.mango.com/us/women/t-shirts-and-t...,Halter neck top,$39.99,Description Fine-knit fabric. Halterneck. Slee...,//st.mngbcn.com/rcs/pics/static/T4/fotos/outfi...
2,1554008118-3397,https://shop.mango.com/us/women,Cardigans and sweaters,https://shop.mango.com/redirect.faces?op=conta...,d\n d\n ...,https://shop.mango.com/us/women/cardigans-and-...,Ribbed neck sweater,$69.99,Description Funnel neck. Ribbed collar. Long s...,//st.mngbcn.com/rcs/pics/static/T4/fotos/S20/4...
3,1554008770-4248,https://shop.mango.com/us/women,Dresses,https://shop.mango.com/redirect.faces?op=conta...,d\n d\n ...,https://shop.mango.com/us/women/dresses-midi/v...,Vichy check dress,$99.99,Description Cotton fabric. Flared design. V-ne...,//st.mngbcn.com/rcs/pics/static/T4/fotos/S20/4...
4,1554009045-4629,https://shop.mango.com/us/women,Suits,https://shop.mango.com/redirect.faces?op=conta...,d\n d\n ...,https://shop.mango.com/us/women/jackets-blazer...,Essential structured blazer,$59.99,Description Structured design. Long design. La...,//st.mngbcn.com/rcs/pics/static/T4/fotos/S20/4...

In [49]:
df_mango = df_mango[['product-href', 'name', 'price', 'description', 'image_url-src']]

In [50]:
df_mango["brand"] = "mango"

In [51]:
df_mango.price = df_mango.price.apply(lambda x: float(x[1:]))

In [52]:
df_mango.head()

,product-href,name,price,description,image_url-src,brand
0,https://shop.mango.com/us/women/jumpsuits-long...,Ruched long jumpsuit,99.99,Description Long design. Short batwing sleeve....,//st.mngbcn.com/rcs/pics/static/T4/fotos/outfi...,mango
1,https://shop.mango.com/us/women/t-shirts-and-t...,Halter neck top,39.99,Description Fine-knit fabric. Halterneck. Slee...,//st.mngbcn.com/rcs/pics/static/T4/fotos/outfi...,mango
2,https://shop.mango.com/us/women/cardigans-and-...,Ribbed neck sweater,69.99,Description Funnel neck. Ribbed collar. Long s...,//st.mngbcn.com/rcs/pics/static/T4/fotos/S20/4...,mango
3,https://shop.mango.com/us/women/dresses-midi/v...,Vichy check dress,99.99,Description Cotton fabric. Flared design. V-ne...,//st.mngbcn.com/rcs/pics/static/T4/fotos/S20/4...,mango
4,https://shop.mango.com/us/women/jackets-blazer...,Essential structured blazer,59.99,Description Structured design. Long design. La...,//st.mngbcn.com/rcs/pics/static/T4/fotos/S20/4...,mango

In [9]:
df_macys = pd.read_csv("data/macys_data_combined.csv", index_col=0)

In [10]:
df_macys.columns

Index(['prod_page_link', 'image_link', 'name', 'price', 'description', 'brand',
       'rating'],
      dtype='object')

In [11]:
df_macys = df_macys.drop("rating", axis=1)
df_macys.columns

Index(['prod_page_link', 'image_link', 'name', 'price', 'description',
       'brand'],
      dtype='object')

In [12]:
df_macys.columns = ['page_link', 'image_link', 'name', 'price', 'description', 'brand']
df_macys.head()

,page_link,image_link,name,price,description,brand
0,https://www.macys.com//shop/product/jm-collect...,https://slimages.macysassets.com/is/image/MCY/...,"Printed Scoop-Neck Top, Created for Macy's",34.5,Complete your casual wardrobe with this wear-e...,JM Collection
1,https://www.macys.com//shop/product/jm-collect...,https://slimages.macysassets.com/is/image/MCY/...,"Printed Scoop-Neck Top, Created for Macy's",34.5,Complete your casual wardrobe with this wear-e...,JM Collection
2,https://www.macys.com//shop/product/jm-collect...,https://slimages.macysassets.com/is/image/MCY/...,"3/4-Sleeve Novelty Printed Jacquard Top, Creat...",44.5,Slip into this essential JM Collection top any...,JM Collection
3,https://www.macys.com//shop/product/jm-collect...,https://slimages.macysassets.com/is/image/MCY/...,"3/4-Sleeve Novelty Printed Jacquard Top, Creat...",44.5,Slip into this essential JM Collection top any...,JM Collection
4,https://www.macys.com//shop/product/jm-collect...,https://slimages.macysassets.com/is/image/MCY/...,"Printed T-Shirt, Created for Macy's",34.5,A fashionable print lends an upgraded look and...,JM Collection

In [53]:
df_mango = df_mango[['product-href', 'image_url-src', 'name', 'price', 'description', 'brand']]

In [54]:
df_mango.columns = ['page_link', 'image_link', 'name', 'price', 'description', 'brand']

In [55]:
df_mango.image_link = df_mango.image_link.apply(lambda x: x[2:])

In [56]:
df_mango.head()

,page_link,image_link,name,price,description,brand
0,https://shop.mango.com/us/women/jumpsuits-long...,st.mngbcn.com/rcs/pics/static/T4/fotos/outfit/...,Ruched long jumpsuit,99.99,Description Long design. Short batwing sleeve....,mango
1,https://shop.mango.com/us/women/t-shirts-and-t...,st.mngbcn.com/rcs/pics/static/T4/fotos/outfit/...,Halter neck top,39.99,Description Fine-knit fabric. Halterneck. Slee...,mango
2,https://shop.mango.com/us/women/cardigans-and-...,st.mngbcn.com/rcs/pics/static/T4/fotos/S20/430...,Ribbed neck sweater,69.99,Description Funnel neck. Ribbed collar. Long s...,mango
3,https://shop.mango.com/us/women/dresses-midi/v...,st.mngbcn.com/rcs/pics/static/T4/fotos/S20/430...,Vichy check dress,99.99,Description Cotton fabric. Flared design. V-ne...,mango
4,https://shop.mango.com/us/women/jackets-blazer...,st.mngbcn.com/rcs/pics/static/T4/fotos/S20/410...,Essential structured blazer,59.99,Description Structured design. Long design. La...,mango

In [16]:
df_macys.shape

(17783, 6)

In [17]:
df_mango.shape

(3858, 6)

In [18]:
df_hm = pd.read_csv("data/HM.csv")

In [19]:
df_hm.columns = ['page_link', 'image_link', 'name', 'price', 'description', 'brand']
df_hm.head()

,page_link,image_link,name,price,description,brand
0,https://www2.hm.com/en_us/productpage.06364550...,http://lp2.hm.com/hmgoepprod?set=source[/07/25...,Straight-cut Jacket,34.99,Straight-cut jacket in woven fabric with notch...,H&M
1,https://www2.hm.com/en_us/productpage.07554510...,http://lp2.hm.com/hmgoepprod?set=source[/27/f3...,Linen-blend Jacket,59.99,"Gently fitted jacket in soft, woven fabric mad...",H&M
2,https://www2.hm.com/en_us/productpage.07178790...,http://lp2.hm.com/hmgoepprod?set=source[/2c/3d...,Double-breasted Jacket,34.99,"Longer, double-breasted jacket in woven fabric...",H&M
3,https://www2.hm.com/en_us/productpage.07246260...,http://lp2.hm.com/hmgoepprod?set=source[/89/66...,Linen-blend Jacket,49.99,Gently fitted jacket in a linen and viscose bl...,H&M
4,https://www2.hm.com/en_us/productpage.05686010...,http://lp2.hm.com/hmgoepprod?set=source[/c0/a1...,Fitted Blazer,34.99,Fitted blazer in woven fabric with notched lap...,H&M

In [20]:
df_ts = pd.read_csv("data/topshopwithdesc.csv")

In [21]:
df_ts.columns

Index(['link', 'product_name', 'price', 'image_link', 'brand', 'desc'], dtype='object')

In [22]:
df_ts = df_ts[['link', 'image_link', 'product_name', 'price', 'desc', 'brand']]

In [23]:
df_ts.columns = ['page_link', 'image_link', 'name', 'price', 'description', 'brand']

In [24]:
df_ts.head()

,page_link,image_link,name,price,description,brand
0,http://us.topshop.com/en/tsus/product/clothing...,https://images.topshop.com/i/TopShop/TS16R06QC...,Check Peg Trousers,68.00,Tap into the patterned look with these all ove...,TopShop
1,http://us.topshop.com/en/tsus/product/clothing...,https://images.topshop.com/i/TopShop/TS13R14QR...,Scarf Hanky Top,48.00,This scarf printed hanky top in red embraces u...,TopShop
2,http://us.topshop.com/en/tsus/product/clothing...,https://images.topshop.com/i/TopShop/TS05P81PW...,Clip Buckle Pinafore,68.00,This clip buckle denim pinafore is a modern mu...,TopShop
3,http://us.topshop.com/en/tsus/product/clothing...,https://images.topshop.com/i/TopShop/TS02G25QM...,Mid Blue Laddered Hem Straight Jeans,80.00,"These high rise, straight leg jeans in authent...",TopShop
4,http://us.topshop.com/en/tsus/product/clothing...,https://images.topshop.com/i/TopShop/TS13A22QY...,Giraffe Cami,35.00,This all over giraffe camisole top does animal...,TopShop

In [25]:
df_ts.dtypes

page_link      object
image_link     object
name           object
price          object
description    object
brand          object
dtype: object

In [26]:
df_ts = df_ts[~df_ts.price.isna()]

In [27]:
def string2float(x):
    return float(re.sub(r'[^\d.]+', '', x))
df_ts.price = df_ts.price.apply(string2float)
df_macys.price = df_macys.price.apply(string2float)

In [30]:
df_br = pd.read_csv("data/banana_republic.csv")

In [31]:
df_br.dtypes

Unnamed: 0        int64
image_link       object
product_name     object
link             object
price           float64
description      object
domain           object
dtype: object

In [32]:
df_br = df_br.drop("Unnamed: 0", axis=1)

In [34]:
df_br.columns

Index(['image_link', 'product_name', 'link', 'price', 'description', 'domain'], dtype='object')

In [35]:
df_br = df_br[['link', 'image_link', 'product_name',  'price', 'description', 'domain']]

In [36]:
df_br.columns = ['page_link', 'image_link', 'name', 'price', 'description', 'brand']

In [37]:
df_br.head()

,page_link,image_link,name,price,description,brand
0,https://bananarepublic.gap.com//browse/product...,https://www3.assets-gap.com/webcontent/0016/73...,Chevron Pleated Midi Dress,149.0,A flattering fit-and-flare style with oh-so-no...,Banana Republic
1,https://bananarepublic.gap.com//browse/product...,https://www1.assets-gap.com/webcontent/0016/78...,Eyelet Pinafore Dress,159.0,"Inspired by the romance of the prairie, this m...",Banana Republic
2,https://bananarepublic.gap.com//browse/product...,https://www2.assets-gap.com/webcontent/0016/64...,Paneled Fit-and-Flare Dress,119.0,"Expert tailoring and a flirty, A-line skirt ma...",Banana Republic
3,https://bananarepublic.gap.com//browse/product...,https://www3.assets-gap.com/webcontent/0016/75...,Floral Drop-Waist Shift Dress,129.0,"A classic shift dress in a modern, floral prin...",Banana Republic
4,https://bananarepublic.gap.com//browse/product...,https://www1.assets-gap.com/webcontent/0016/74...,Plaid Bi-Stretch Racer-Neck Sheath Dress,129.0,Expert tailoring and a racer neck give this bo...,Banana Republic

In [61]:
frames = [df_macys, df_mango, df_hm, df_ts, df_br]

In [62]:
df = pd.concat(frames)

In [63]:
df.shape

(30370, 6)

In [64]:
df.dtypes

page_link       object
image_link      object
name            object
price          float64
description     object
brand           object
dtype: object

In [66]:
df.to_csv("products.csv")